.catalog {
	margin-top: 60px;
	display: flex;

	&Filter {
		width: 243px;

	}

	&Block {
		margin-left: auto;
	}
}

.filter:hover .filterSub {
	display: block;

	// animation: menuDrop .3s;
	@for $i from 1 through 13 {
		.filterList:nth-child(#{$i}) {
			opacity: 0;
			animation: menuDropByList .3s;
			animation-delay: .02s * $i;
			animation-fill-mode: forwards;
		}
	}
}

.filterMain {
	height: 37px;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	border-left: 5px solid $siteColor;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 10px;

	&H4 {
		color: #6f6e6e;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 37px;

	}

	&:hover &H4 {
		color: $siteColor;
	}

	&:hover .fa-sort-down {
		display: none;
	}

	&:hover .fa-sort-up {
		display: inherit;
	}

	&:hover .filterSub {
		display: none;
	}
}

.fa-sort-down,
.fa-sort-up {
	color: $siteColor;
	@extend %flexAlign;
}

.fa-sort-up {
	display: none;
}


.filterSub {
	display: none;
	margin-left: 20px;

	&Menu {
		margin-bottom: 40px;
		perspective: 1000px;
	}
}


.filterLink {
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 700;
	line-height: 37px;

	&:hover {
		color: $siteColor;
	}
}

.catalog {
	&Block {

		margin-left: 50px;
		width: 100%;

		&Margin {
			margin-bottom: 40px;
		}
	}

	&Search {
		display: flex;
		justify-content: space-between;
	}

	&Items {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&Bottom {
		background-color: #222224;

		&Flex {
			min-height: 341px;
			@extend %flexAlign;
			justify-content: space-between;
		}

		&Block {
			width: 320px;
			text-align: center;
		}
	}

	&Padding {
		display: flex;
		justify-content: space-between;
		margin-bottom: 110px;
	}

	&Pages {
		border-radius: 3px;
		border: 1px solid #ebebeb;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		// justify-content: space-around;
	}

	&Button {
		width: 150px;
		height: 44px;
		border-radius: 3px;
		border: 1px solid $siteColor;
		background-color: #ffffff;
		color: $siteColor;
		font-size: 16px;
		font-weight: bold;
		transition: background-color, color 0.3s ease-out;

		&:hover {
			background-color: $siteColor;
			color: #ffffff;
		}
	}
}

.pages {
	&Number {
		padding: 15px;
		color: #c4c4c4;
		font-size: 16px;
		font-weight: bold;
		@extend %flexCenter;

		&:hover {
			color: $siteColor;
			background-color: #ddd;
			outline: 3px solid #ccc;
		}
	}

	&Active {
		color: $siteColor;
	}

	&Dots {
		padding: 15px 0;
		color: #c4c4c4;
		font-size: 16px;
		font-weight: bold;
		@extend %flexCenter;

		&:hover {
			color: $siteColor;
			background-color: #ddd;
			outline: 3px solid #ccc;
		}

		&Pre {
			padding-right: 0;
		}

		&Post {
			padding-left: 0;
		}
	}


}



.search {
	&H4 {
		color: #6f6e6e;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	&P {
		color: #6f6e6e;
		font-size: 14px;
		font-weight: 700;
		line-height: 26px;
		text-transform: uppercase;
		margin-left: 5px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&Check {
		margin-left: auto;
	}

	&Link {
		color: #6f6e6e;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		display: inline-block;
		line-height: 15px;
		margin-bottom: 10px;

		&:first-child {
			border-right: 1px solid #dfdfdf;
			padding-right: 15px;
			margin-right: 15px;
		}

		&:last-child {
			border-left: 1px solid #dfdfdf;
			padding-left: 15px;
			margin-left: 15px;
		}

		&:hover {
			color: $siteColor;
		}
	}

	&BlockCheck {
		width: 236px;
	}

	&Sort {
		margin-top: 41px;
		height: 50px;
		background-color: #f3f3f3;
		display: flex;

		&Element {
			margin: 10px;
			padding: 10px;
			margin-right: 0;
			padding-right: 0;
			border: 1px solid #ebebeb;
			background-color: #ffffff;
			@extend %flexCenter;

			&Text {
				color: #6f6e6e;
				font-size: 14px;
				font-weight: 400;
			}
		}

		&Select {
			margin: 10px;
			margin-right: 0;
			padding: 6px;
			border: 1px solid #ebebeb;
			background-color: #ffffff;
			color: #6f6e6e;
			font-size: 14px;
			font-weight: 400;
		}

		&Option {
			color: #6f6e6e;
			font-size: 14px;
			font-weight: 400;

		}
	}

	&Line {
		border-radius: 3px;
		background-color: #f0f0f0;
		width: 262px;
		height: 6px;
		display: flex;
		align-items: center;

		&Begin {
			background-image: url(../../../../img/Ellipse.svg);
			width: 14px;
			height: 14px;
			margin-left: $lineBegin;
		}

		&Main {
			background-color: $siteColor;
			width: $lineLength;
			height: 6px;
		}

		&End {
			background-image: url(../../../../img/Ellipse.svg);
			width: 14px;
			height: 14px;
		}

		&Lables {
			@extend %flexAlign;
			justify-content: space-between;
			margin-top: 21px;
		}
	}
}

.check {
	display: flex;
	flex-wrap: wrap;

	&Block {
		width: 25%;
		@extend %flexAlign;
	}

	&Box {
		color: #ebebeb;
	}
}