@import "variables";
@import "patternClass";
@import "checkout";
@import "animation";
@import "cart";


* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	min-width: 1140px;
	animation: appearing .5s ease-in-out;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

a:hover {
	filter: brightness(1.1);
}
input{
	outline: none;
}
.button:hover,
button:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}

.header {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
	border: 1px solid #ececec;
	background-color: #ffffff;

	&Flex {
		height: 100px;
		@extend %flexAlign;
		justify-content: space-between;
	}

	&Input {
		color: #a4a4a4;
		font-size: 14px;
		font-weight: 300;
		@extend %flexAlign;
		padding-left: 16px;
		padding-right: 16px;
		height: 38px;
		width: 279px;
		border-radius: 0 3px 3px 0;
		border: 1px solid #e6e6e6;
	}

	&Search {
		width: 38px;
		height: 40px;
		border-radius: 0 3px 3px 0;
		border: 1px solid #e6e6e6;
		border-left: none;
		background-color: #ffffff;
	}

	&Right {
		@extend %flexAlign;
	}


	&Left,
	&Form {
		@extend %flexAlign;
	}

}

.container {
	margin: 0 auto;
	width: 1140px;
}





.logo {
	@extend %flexAlign;
	color: #222222;
	font-size: 27px;
	font-weight: 300;
	text-transform: uppercase;
	margin-right: 35px;
	perspective: 500px;
	&Img {
		margin-right: 15px;
	}

	&Letter {
		color: $siteColor;
		font-weight: 700;
	}
	&:hover &Img{
		transform-origin: 63% 60%;
		animation: logoFlip .4s linear .3s;
	}
}



.browse {
	color: #222222;
	font-size: 14px;
	font-weight: 500;

	border-radius: 3px 0 0 3px;
	border: 1px solid #e6e6e6;
	background-color: #cdcdcc;
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
	width: 87px;
	height: 38px;
	@extend %flexCenter;
	position: relative;

	&Flex:hover .drop {
		display: flex;
		opacity: 0;
		animation: menuDrop .3s ease-in-out forwards;
	}

	&Padding {
		padding-bottom: 20px;
	}

}



.arrowLeft::after {
	content: '\25BC';
	padding-left: 0.5em;
	color: #838383;
	font-size: 11px;
	font-weight: 400;
}


.button {
	width: 130px;
	height: 38px;
	background-color: $siteColor;
	@extend %flexAlign;
	justify-content: center;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	margin-left: 26px;

}

.arrowRight::after {
	content: '\25BC';
	padding-left: 0.5em;
	color: #ffffff;
	font-size: 11px;
	font-weight: 400;
}

.cartLink {
	position: relative;
}

.dropCartFlex__active {
	//display: flex;
	opacity: 0;
	animation: menuJump .3s ease-out forwards;
}

.dropCartFlex {
	border-radius: 5px;
	background-color: #ffffff;
	padding: 12px 20px;
	border: 1px solid #ececec;
	position: absolute;
	//display: none;
	z-index: 1;
	display: flex;
	flex-direction: column;
	width: 220px;
	padding: 10px 20px;

}

.dCartItem:first-child {
	padding-top: 10px;
}

.dCartItem {
	padding: 20px 0;
	border-bottom: 1px solid #ededed;
	@extend %flexAlign;
	&__img{
		height: 100px;
	}
}

.dCartItem::before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background-color: #fff;
	position: absolute;
	top: -6px;
	left: 10px;
	transform: rotate(45deg);
	border-top: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
}

.dCartItemText {
	margin-left: 15px;
}

.dCartLink {
	color: #222222;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	padding: 10px 0;
}

.dCartLink:hover {
	color: $siteColor;
}

.fa-lg {
	color: #e4af48;
	font-size: 12px;


}

.dCartItemP {
	color: $siteColor;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 0;
	font-size: 10px;
}

.dCartDelete {
	margin-left: auto;
	color: #c0c0c0;
	font-size: 16px;

}

.dCartDelete:hover {
	color: $siteColor;
}

.dCartTotal {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.dTotalH4 {
	color: #222222;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.dCartButton {
	margin: 5px 0;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	height: 50px;
	color: #4a4a4a;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dCartButton:hover {
	border: 1px solid $siteColor;
	color: $siteColor;
}
.cartBlock{
	perspective: 1000px;
	z-index: 1;
}
.menu {
	display: flex;
	justify-content: center;

	&List {
		list-style-type: none;
		position: relative;
		perspective: 750px;
	}
	
	&List:hover .drop {
		display: flex;
		opacity: 0;
		animation: menuDropBook .4s ease-out forwards;
	}

	&Link {
		padding: 20px;
		padding-bottom: 17px;
		color: #222222;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		display: block;
		border-bottom: 3px solid transparent;

		&:hover {
			border-bottom: 3px solid $siteColor;
		}
	}
}



.drop {
	border-radius: 5px;
	background-color: #ffffff;
	padding: 12px 20px;
	border: 1px solid #ececec;
	display: none;
	position: absolute;
	z-index: 1;

	&::before {
		content: '';
		display: block;
		width: 10px;
		height: 10px;
		background-color: #fff;
		position: absolute;
		top: -6px;
		left: 28px;
		transform: rotate(45deg);
		border-top: 1px solid #e8e8e8;
		border-left: 1px solid #e8e8e8;
	}

	&Last {
		left: auto;
		right: 0;
	}

	&Last::before {
		left: auto;
		right: 35px;
	}

	&Middle {
		left: -295px;

	}

	&Middle::before {
		left: 38%;
		right: auto;

	}

	&Flex {
		margin-right: 46px;
	}

	&Flex:last-child {
		margin-right: 0;
	}

	&H3 {
		color: #232323;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;

		letter-spacing: 0.35px;
		border-bottom: 1px solid #e8e8e8;
		padding-bottom: 8px;
		margin-bottom: 8px;
		margin-top: 8px;
		width: 235px;
	}

	&Padding {
		padding-top: 12px;
	}



	&Link {
		color: #646464;
		font-size: 14px;
		font-weight: 400;

		letter-spacing: 0.35px;
		line-height: 28px;
	}

	&Link:hover {
		color: $siteColor;
	}
}





.superSaleImg {

	background-image: url(../img/supersale.jpg);
	width: 255px;
	height: 118px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 13px;
}

.superSaleText {
	width: 71px;
	padding: 5px;

}

.superSaleH2 {
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 28px;
	letter-spacing: 0.55px;

}

.promo {
	background-color: #e8e8e8;
}


.promoContent {
	height: 614px;
	background-image: url(../img/promoBack.jpg);
	background-position: 0 -51px;
	display: flex;
	align-items: center;
	animation: appearing 3s;
	animation: appearingFromRight 1s;
}

.promoText {
	border-left: $siteColor 12px solid;
	padding-left: 12px;
}

.promoH2 {
	color: #222222;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 60px;
	letter-spacing: 1.5px;
	line-height: 55px;
}

.promoH3 {
	line-height: 32px;
	color: #222222;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 1px;
	line-height: 30px;
	margin-top: 15px;
}

.category {
	margin-top: 100px;
	margin-bottom: 100px;
}

.categoryContent {
	display: flex;
	justify-content: center;
	height: 823px;
}

.categoryLeft {
	width: 560px;

}

.categoryLeftBig {
	background-color: #000000;
	height: 542px;
	background-image: url(../img/Man.jpg);
	margin-bottom: 20px;
	position: relative;
}

.categoryLeftSmall {
	background-color: #dadad2;
	height: 261px;
	position: relative;

}

.catergoryImg {
	float: right;
}

.categoryRight {
	width: 560px;
	margin-left: 20px;
}

.categoryRightSmall {
	background-color: #000000;
	height: 261px;
	margin-bottom: 20px;
	background-image: url(../img/Woman.jpg);
	position: relative;
}

.categoryRightBig {
	background-color: #000000;
	height: 542px;
	background-image: url(../img/Kid.jpg);
	position: relative;
}

.categoryText {
	padding: 15px 20px;
	position: absolute;
	top: 25px;
	background-color: #fff;
}

.categoryH4 {
	color: #222222;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.45px;
}

.categoryH2 {
	font-weight: 700;
	text-transform: uppercase;
	color: $siteColor;
	font-size: 30px;
	letter-spacing: 0.75px;
}

.feturedButton {
	width: 212px;
	height: 48px;
	background-color: $siteColor;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	margin-left: 26px;
	letter-spacing: 0.4px;
	margin-top: 20px;
	margin-bottom: 115px;
	margin-right: auto;
	margin-left: auto;
}



.feturedH2 {
	text-align: center;
	color: #222222;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.75px;
}

.feturedP {
	text-align: center;
	color: #9f9f9f;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.35px;
}

.feturedItems {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 60px;
}

.feturedBlock {
	margin-bottom: 60px;
	transition: transform .3s;
}

.fBlockImg {
	width: 261px;
	height: 280px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

}

.feturedBlock:hover {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
	transform: scale(1.05);
}


.feturedBlock:hover .fImg {
	filter: brightness(50%);
}

.fImg {
	transition: filter .4s;
}

.fBlockCart {
	display: none;
}

.feturedBlock:hover .fBlockCart {
	display: block;
	width: 123px;
	height: 39px;
	border: 1px solid #ffffff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fCartText {
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
}

.fBlockText {
	padding: 20px 14px;
}

.fBlockNameLink {
	color: #222222;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 15px;
	display: block;

}

.fBlockP {
	color: $siteColor;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.offer {
	margin-bottom: 100px;
}

.offerBack {
	background-image: url(../img/OfferBack.jpg);
	height: 529px;
	width: 767px;
	float: left;
}

.offerText {
	margin-top: 145px;
	margin-left: 40px;
}

.offerH1 {
	font-size: 54px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: $siteColor;
}

.offerH1Digit {
	color: #ffffff;
}

.offerH2 {
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 32px;
	letter-spacing: 0.9px;
}

.offerContent {
	height: 529px;
	background-color: #222224;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.offerBlock {
	display: flex;
	justify-content: space-around;
	padding-right: 30px;
}

.offerImg {
	margin-left: 35px;
	margin-right: 35px;
}

.offerH3 {
	color: #fbfbfb;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.5px;
}

.offerP {
	color: #fbfbfb;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.35px;
	line-height: 24px;
}

.subs {
	background-color: #f2f2f2;
}

.subsContent {
	height: 438px;
	background-color: #f2f2f2;
	background-image: url(../img/subBack.jpg);
	background-repeat: no-repeat;
	background-position: center;

	background-size: cover;

}

.subsFlex {
	display: flex;
	height: 100%;
}

.subsLeft {
	width: 50%;
	display: flex;
	align-items: center;
}

.subsComment {
	width: 100%;
	display: flex;
}

.subsFace {
	width: 83px;
	height: 83px;
}

.subsText {
	width: 386px;
	margin-left: 30px;
}

.subsP {
	color: #222224;
	font-size: 16px;
	font-style: italic;
	letter-spacing: 0.4px;
	margin-bottom: 20px;
	line-height: 26px;
}

.subsName {
	color: $siteColor;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.4px;

}

.subsPlace {
	color: #222224;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.3px;
}

.subsSelectMenu {
	display: flex;
}

.select {
	height: 40px;
	width: 50px;
	margin-right: 15px;
	border-bottom: 4px solid #d6d6d6;
}

.select:hover {
	border-bottom: 4px solid $siteColor;
}


.subsRight {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.subsH2 {
	color: #222224;
	font-weight: 400;
	font-size: 24px;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	text-align: center;
}

.subsH4 {
	color: #222224;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.35px;
	text-align: center;
	margin-bottom: 35px;
}



.emailInput {
	opacity: 0.67;
	color: #222224;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.35px;
	border-radius: 23px 0 0 23px;
	border: 0 solid;
	background-color: #e1e1e1;
	width: 304px;
	height: 46px;
	padding-left: 30px;
	padding-right: 30px;
}

.subsButton {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.35px;
	border-radius: 0 23px 23px 0;
	border: 0 solid;
	background-color: $siteColor;
	width: 104px;
	height: 48px;
	outline: none;
}



.footerFlex {
	display: flex;
	align-items: center;
	min-height: 460px;
}

.footerContent {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.fText {
	width: 428px;
}

.footerP {
	margin-top: 30px;
	color: #898989;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.35px;
	line-height: 24px;
}



.fMenuName {
	color: $siteColor;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.45px;
	margin-bottom: 45px;
}

.fMenu {
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.fList {
	list-style-type: none;
}

.fLink {
	color: #898989;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
}

.fLink:hover {
	color: $siteColor;
}




.bottom {
	background-color: #e6e6e6;

}



.bottomFlex {
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.copy {
	color: #7a7a7a;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
}

.social {
	display: flex;
}

.socBlock {
	width: 32px;
	height: 32px;
	background-color: #fff;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.socBlockActive {
	width: 32px;
	height: 32px;
	background-color: $siteColor;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.socBlockNonActive {
	width: 32px;
	height: 32px;
	background-color: #ffffff;
	opacity: 0.3;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fab {
	color: #b2b2b2;
}

.socBlock:hover {
	background-color: $siteColor;
}

.socBlock:hover .fab {
	color: #f7f7f8;
}


.newArrivals {

	background-color: #f8f3f4;

}

.newArrivalsFlex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 148px;
}

.nArrivalsH1 {
	color: $siteColor;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}

.nArrivalsLink {
	color: #636363;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;


}

.nArrivalsLink:hover {
	color: $siteColor;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;


}

.breadcrumbCustom {
	background: none;
}

.seeAlso {
	padding-top: 120px;
}

.sAlsoH3 {
	color: #4d4d4d;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.sAlsoContent {
	margin-top: 72px;
	margin-bottom: 72px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


.arrLinkArrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 47px;
	height: 47px;
	background-color: #2a2a2a;
	color: #ffffff;
	opacity: 20%;
}

.arrLinkArrow:hover {
	opacity: 50%;
}

.arrivalContent {
	margin: 0 auto;
}

.arrImgBox {
	border: 1px solid #eaeaea;
	background-color: #f7f7f7;
	padding-top: 10px;
	padding-bottom: 40px;
	background-image: url(../img/singleImg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 724px;
	min-width: 597px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.arrInfoBlock {
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	margin-top: -65px;
}



.arrBlock {
	display: inline-block;

}

.arrInfoBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.arrInfoText {
	width: 642px;
	text-align: center;
	border-bottom: 1px solid #eaeaea;
}

.arrBlockH4 {
	color: $siteColor;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 73px;
	padding-bottom: 15px;
}

.arrInfoLineGr {
	background-color: #eaeaea;
	height: 1px;
	display: flex;
	justify-content: center;
}

.arrInfoRed {
	background-color: #ef5b70;
	height: 3px;
	width: 40%;
	margin-top: -1px;
}

.arrBlockH3 {
	color: #4d4d4d;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 17px;
}

.arrBlockDetail {
	display: flex;
	justify-content: center;
	align-items: center;

}

.arrBlockP {
	color: #5e5e5e;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	margin-top: 67px;
}

.arrBlockDetailP {
	color: #b9b9b9;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 24px;
	margin-right: 22px;
	margin-left: 22px;
}

.spanP {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #2f2f2f;
}



.arrBlockPriceP {
	color: #ef5b70;
	font-size: 24px;
	font-weight: 700;
	margin-top: 37px;
	margin-bottom: 43px;
}



.chooseArea {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 23px;
}



.chH4 {
	color: #2f2f2f;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 14px;
	margin-top: 63px;
}

.chInput {
	width: 127px;
	height: 35px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	color: #bcbcbc;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	padding-left: 15px;
	line-height: 3;
}

.chColor {
	width: 12px;
	height: 12px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	color: #bcbcbc;


}

.chBlockBox {
	width: 144px;
	height: 35px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 53px;


}

.chColorFlex {
	display: flex;
	align-items: center;
}

.chColorSample {
	width: 12px;
	height: 12px;
	background-color: #ef5b70;
	margin-left: 15px;
	margin-bottom: 2px;
}

.chDescr {
	color: #bcbcbc;
	font-size: 13px;
	font-weight: 400;
	line-height: 35px;
	margin-left: 12px;

}

.fa-angle-down {
	color: #bcbcbc;
	margin-right: 10px;
}

#sizeSelect {
	width: 144px;
	height: 35px;
	border: 1px solid #eaeaea;
	background-color: #ffffff;
	color: #bcbcbc;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
}

.chooseButton {
	border: 1px solid #ef5b70;
	background-color: #ffffff;
	width: 100%;
	height: 55px;
	color: #ef5b70;
	font-size: 16px;
	font-weight: 700;
	line-height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 122px;
}

.chCartImg {
	margin-right: 15px;
}

.arrLinkArrow2 {
	display: flex;
	align-items: center;

}

.error-msg {
	padding: 30px 20px;
	background-color: red;
	color: white;
	position: relative;
}
.error-block {
	background-color: rgba(0,0,0, .5);
	justify-content: center;
	display: flex;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	align-items: center;
}
.close-btn {
	font-size: 1.5em;
	top: -40px;
	position: absolute;
	right: 0;
	background: none;
	border: none;
	color: white;
	font-weight: bold;
}

@import "catalog";